.core-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content-container {
  flex-grow: 1;
  display: flex;
  padding: 10px 0px;
  flex: auto;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex: auto;
  //background: #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 1.0em;
  background: #333;
  color: #b0b0b0;
  height: 40px;
  flex-shrink: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-size: 70%;
  @media (min-width:240px) and (max-width:320px){
    width: 240px;
  }
  @media (min-width:320px) and (max-width:540px){
    width: 320px;
  }
  @media (min-width:540px) and (max-width:720px){
    width: 540px;
  }
  @media (min-width:720px) and (max-width:1200px){
    width: 720px;
  }
  @media (min-width:1200px) {
    width: 1200px;
    font-size: 100%;
  }
}

.header .container {
  display: flex;
  height: 40px;
}

.header .header-counter {
  font-size: 1.0em;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
}


