html{
  font-family: "Microsoft YaHei" !important;
}

.expr-container {
  flex: auto;
}

.expr-options {
  display: flex;
  justify-content: space-between;
}

.expr-option {
  width: 20%;
  flex: auto;
  font-size: 1.0em;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: nowrap;
}

.expr-rows {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  margin-top: 50px;
}

.expr-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.expr-row-cur {
  background: #ecf6fd;
}

.expr-item-str {
  width: 50%;
  flex: auto;
}

.expr-item {
  width: 20%;
  text-align: center;
  flex: auto;
}

.expr-item-ok {
  background: #5bb75b;
}

.expr-item-want {
  color: #fff;
  background: #5bb75b;
}

.expr-item-wrong {
  color: #fff;
  background: #bd362f;
}

.play-ico {
  width: 100%;
  height: 60vh;
  positon:relative;
}

.play-ico .anticon{
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-50px;
  margin-top:-50px;
  font-size: 100px;
}
