html{
  font-family: "Microsoft YaHei" !important;
}

.expr-container {
  flex: auto;
}

.expr-options {
  display: flex;
  justify-content: space-between;
}

.expr-option {
  width: 25%;
  flex: auto;
  font-size: 1.0em;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: nowrap;
}

.expr-rows {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
}

.expr-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.expr-row-cur {
  background: #ecf6fd;
}

.expr-item-str {
  width: 50%;
  flex: auto;
}

.expr-item {
  width: 20%;
  text-align: right;
  flex: auto;
}

.expr-item-ok {
  background: #5bb75b;
}

.expr-item-want {
  color: #fff;
  background: #5bb75b;
}

.expr-item-wrong {
  color: #fff;
  background: #bd362f;
}

